.header-btn-style {
    width: 5rem; 
    height: 2rem; 
    background: blue; 
    color: white;
    border-radius: 10px;
}

.header-btn-style-select {
    background: red; 
    width: 5rem; 
    height: 2rem; 
    color: black;
    border-radius: 10px;
}

.header-container {
    border: 1px solid #0000005c;
    margin: 0 0.5rem;
    border-radius: 4px;
    height: 3rem;
    padding: 0.5 rem;
    display: flex;
    align-items: center;
    justify-content: start;
}